protobuf
transformers>=4.30.2
cpm_kernels
torch>=2.0
sentencepiece~=0.1.99
accelerate~=0.19.0
sse-starlette~=1.6.1
uvicorn~=0.22.0
fastapi~=0.27.8
openai~=0.27.8
requests~=2.31.0
pydantic~=1.10.7